<form #transitForm="ngForm" (ngSubmit)="onSubmit()" #spy class="form">
  <p>
    <mat-form-field>
      <input matInput [matDatepicker]="datePicker" placeholder="Date" [formControl]="date"
        (dateChange)="dateChanged('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Time" type="time" [(ngModel)]="time" name="timeControl" (change)="timeChanged()">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
        <input matInput placeholder="Waypoint" [(ngModel)]="waypoint" name="waypointCtl" (change)="waypointChanged()">
    </mat-form-field>
  </p>
  <p>
    <button type="submit" mat-flat-button color="primary">Submit</button>
  </p>
</form>
