<form #transitForm="ngForm" #spy class="form">
  <p>
    <mat-form-field>
      <input matInput [matDatepicker]="datePicker" placeholder="Date" [formControl]="date"
        (dateChange)="dateChanged('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input matInput placeholder="Time" type="time" [(ngModel)]="time" name="timeControl" (change)="timeChanged()">
    </mat-form-field>
  </p>
</form>
<p>Date: {{date.value}}</p>
<p>Time: {{time}}</p>
